@media all and (max-width:640px){
	body,.ft22,.ft16{font-size:12px;}
	.wk_f10 h3,.news_list ul li span,.ft24,b,.ft26{font-size:14px;}
	.ft28{font-size:16px;}	
	.ft30{font-size:18px;}
	.ft34,h1{font-size:20px;}
	.ft32{font-size:16px;}
	.ft40{font-size:22px;}
    .ft48{font-size:24px;}
	.ft55{font-size:28px;}
	.c_ft22{font-size:14px;line-height:24px;}
	.c_ft28{font-size:20px;line-height:30px;}
	.c_ft40{font-size:22px;line-height:34px;}
	.c_ft55{font-size:28px;line-height:40px;}
     img{max-width:50%;}
	.top{height:42px;line-height:42px;}
	.top_nav a,.top_nav b{margin-right:8px;font-size:14px;}
	.top_nav a{line-height:45px;}
	.top_nav a:first-child{background-size:2px 42px;padding-right:10px;margin-right:10px;line-height:42px;}
	.main_tit{height:36px;line-height:14px;padding-top:6px;;}
	.main_tit span{max-width:84px;height:16px;line-height:16px;}
	.top_nav{left:4px;}
	.tit2{height:44px;max-width:84px;overflow:hidden;}
	/*.main_tit{width:100%;height:36px;line-height:15px;padding-top:7px;color:#fff;}--*/
	.hl_left,.hr_right{width:10px;height:16px;background-size:10px 16px;-moz-background-size:10px 16px;-webkit-background-size:10px 16px;-o-background-size:10px 16px;}
	.top .top_nav img{width:26px;}
	.hq_search img,.top img{max-width:100%;}
	.refresh{width:24px;right:46px;top:0;text-align:center;}
	.search{width:24px;right:8px;top:0;text-align:center;}
	.forget{position:absolute;right:8px;top:0;}
	.select{width:42%;margin:7px 18px 0 0;}
	.rate,.rate ul{height:60px;}
	.rate ul{background-size:3px 6px;-moz-background-size:3px 6px;-webkit-background-size:3px 6px;-o-background-size:3px 6px;}
	.rate ul li.ft_green{height:54px;padding-left:22px;padding-top:4px;background:url(../images/die.png) no-repeat 3px 34px;background-size:10px 11px;-moz-background-size:10px 11px;-webkit-background-size:10px 11px;
   -o-background-size:10px 11px;}
	.rate ul li.ft_red{padding-left:22px;padding-top:4px;background:url(../images/zhang.png) no-repeat 3px 34px;background-size:10px 11px; -moz-background-size:10px 11px;-webkit-background-size:10px 11px;
   -o-background-size:10px 11px;}
	.rate ul li.li_left_down{padding-left:16px;padding-top:4px;}
	.rate ul li.li_left_down span:first-child{line-height:26px;}
	.rate ul li.li_left_down1{padding:4px 1% 0 15px;}
	.rate ul li.li_left_down1 span:first-child{line-height:26px;}
	.rate ul li.ft_green span:first-child,.rate ul li.ft_red span:first-child{line-height:26px;display:inline-block;}
	.rate ul li.ft_green span,.rate ul li.ft_red span{margin-top:1px;}
	.rate ul li.li_center{width:33%;padding-left:3%;background:url(../images/line_bg.jpg) no-repeat left center;text-align:left;padding-top:3px;}
	.rate ul li.li_center1{width:61%;background:url(../images/line_bg.jpg) no-repeat left center;text-align:left;margin-top:10px;font-size:12px;}
	.rate ul li.li_right{padding:5px 3px 0 7px;text-align:center;float:right;background:url(../images/line_bg.jpg) no-repeat left center;}
	.rate ul li.li_center,.rate ul li.li_right{background-size:1px 64px;-moz-background-size:1px 64px;-webkit-background-size:1px 64px;-o-background-size:1px 64px;height:48px;}
     
	.wrap{margin-top:0px;min-height:287px;}
	.tab_show ul,.tab_show1 ul,.tab_show2 ul,.hx_pk_tit,.wk_f10 .f10_tit{height:25px;line-height:25px;}
	.tab_show .more img{max-width:90%;}
	.tab_show ul li{background-size:2px 100%;-moz-background-size:2px 100%;-webkit-background-size:2px 100%;-o-background-size:2px 100%;}
	.tab img{max-width:100%;}
	.tab,.hx_pk,.wk_f10{margin-top:12px;}
	.tab{overflow:hidden;}
	.pk_details,.wk_f10 .tab_txt{padding:10px 14px 0 10px;}
	.pk_details li{line-height:26px;}
	.pk_details_left span,.pk_details_right span{padding:0 5px;}
	.news_list ul{padding-top:7px;}
	.news_list ul li{line-height:20px;padding-top:8px;}
	.click_more{padding-top:0;}
	.click_Toup img{max-width:36px;}
	.click_more img{max-width:264px;}
	.click_Toup{width:10%;margin:25px 0 40px;}
	.toMa{padding-bottom:10px;}
	footer{height:34px;line-height:34px;background-size:100% 34px;-moz-background-size:100% 34px;-webkit-background-size:100% 34px;-o-background-size:100% 34px;margin-top:7px;}
	footer ul{height:34px;padding:0 3px;background:url(../images/footer_line.png) no-repeat 49.5% 4px;background-size:1px 30px;-moz-background-size:1px 30px;-webkit-background-size:1px 30px;-o-background-size:1px 30px;}
	footer ul li span{padding:0 1px;}

	.footer{height:34px;line-height:34px;background-size:100% 34px;margin-top:7px;}
	.footer ul{height:34px;padding:0 3px;background:url(../images/footer_line.png) no-repeat 49.5% 4px;background-size:1px 30px;-moz-background-size:1px 30px;-webkit-background-size:1px 30px;-o-background-size:1px 30px;}
	.footer ul li span{padding:0 1px;}

	.tab_show ul.more_down{height:96px;}
	.tab_show ul.more_down li{height:24px;line-height:24px;}
	.zoomBox {width:120px;left:220px;bottom:35px;}
	.zoomBox div {height:28px;width:28px;background-size:28px 28px;-moz-background-size:28px 28px;-webkit-background-size:28px 28px;-o-background-size:28px 28px;margin-right:0;}
	.zoomBox{right:-28px;}
	.naBtn{margin-left:20px;}
	/*-----------my choice-------*/
	.main_tit1{height:42px;line-height:46px;}
	.main_tit1 img{max-width:6%;}
	.nav{height:34px;margin-bottom:10px;font-size:14px;}
	.nav li{height:34px;line-height:34px;}
	.exit{right:90px;top:6px;height:34px;}
	.txt_tit{height:48px;background-size:3px 6px;-moz-background-size:3px 6px;-webkit-background-size:3px 6px;-o-background-size:3px 6px;}
	.txt_tit ul li{height:44px;line-height:44px;}
	.txt_tit ul li img{width:13px;padding-bottom:4px;}
	.txt_list{padding-bottom:100px;}
	.txt_list ul{margin-bottom:40px;}
	.txt_list ul li{height:44px;line-height:44px;}
	.txt_list ul li span{height:44px;}
	.txt_list span.ft_line{line-height:26px;font-size:16px;}
	.txt_list b{line-height:12px;}
	/*.bottomTable table td{padding:1%;}
	.bottomTable table td div {
			-webkit-border-radius:4px;
			-moz-border-radius:4px;
			-ms-border-radius:4px;
			-o-border-radius:4px;
			border-radius:4px;
			line-height:30px;
	}

	/*------news_txt-------*/
	.news_nav{height:38px;line-height:38px;}
	.news_nav li{background-size:3% 38px;}
	.news_nav li.longLi{height:38px;}
	.news_nav img{max-width:25px;}
	article .pubdate{padding:10px 0;}
	object{line-height:24px;}
	object p{padding-top:0px;line-height:30px;}
	object p.Hav_pad{padding:23px 0 25px 0;}
	object table div img{width:100%;}
	.pic_show img{max-width:100%;}
	.download{padding-top:8px;height:56px;font-size:18px;margin:0 2% 15px;
			-webkit-border-radius:5px;
			-moz-border-radius:5px;
			-ms-border-radius:5px;
			-o-border-radius:5px;
			border-radius:5px;
	}
	.down_txt{height:44px;}
	.down_cen{line-height:44px;}
	.down_ico2{width:50px;height:44px;}
	.down_ico2 img{max-width:50px;}
	.hx_tj{padding:12px 0;}
	/*---------hangqing----------*/
	.top_logo{height:50px;}
	.logo{padding:10px 0 0 7px;}
	.logo img{max-width:50%;}
	.login{top:16px;right:44px;}
	.hq_search{top:11px;right:8px;width:24px;}
	.hq_nav{height:56px;padding:5px 0;}
	.hq_nav ul li{height:28px;line-height:28px;}
	.hq_nav ul li.checked a{width:45px;height:28px;border-radius:5px 5px 5px 5px;}
	.hq_tit{padding-top:5px;background-size:3px 6px;}
	.hq_tit ul{height:58px;}
	.hq_tit li{line-height:24px;}
	.hq_tit li span{padding:0 3px;}
	.txt_list dl dt,.txt_list dl dd{line-height:30px;}
	.Mar_bt{margin-bottom:90px;}
	.load{line-height:51px;}

	/*-----------funds-----------*/
	.hq_tit .funds_tit{height:52px;}
	.funds_tit li{line-height:50px;}
	.hx_funds li{line-height:12px;}
	.hx_funds p{font-size:14px;line-height:22px;}
	.hx_funds h1{font-size:18px;line-height:26px;padding-bottom:5px;}
	.hx_funds h1 img{max-width:15px;}
	.hx_zt li{line-height:20px;padding-top:8px;padding-bottom:8px;}
	.hx_zt li img{max-width:100%;}
	.hx_zt li h1{font-size:16px;}
	.news_tit img{max-width:15px;}
	.news_tit .newsimg{max-width:90px;}
	.style_choice{height:80px;}
	.style_four{height:36px;line-height:36px;}
	.style_four ul{padding:0 45px 11px 0;}
	.style_four ul li{background:url(../images/line.jpg) no-repeat right center;background-size:2px 50%;-moz-background-size:2px 50%;-webkit-background-size:2px 50%;-o-background-size:2px 50%;}
	.style_four .To_up{top:0;}
	.style_four .To_up img{max-width:30px;}
	.style_choice p{height:38px;width:90%;padding:6px 5% 0;}
	.style_choice p img{max-width:104px;}

	/*--------f_value------------*/
	.fin_nav,.fin_nav1,.s_nav,.g_nav,.g_nav1,.bk_nav{height:40px;}
	.g_nav img,.g_nav1 img{max-width:10px;}
	.fin_nav ul,.fin_nav1 ul,.s_nav ul,.g_nav ul,.g_nav1 ul,.bk_nav ul,.bk1_nav ul{height:40px;background-size:3px 6px;-moz-background-size:3px 6px;-webkit-background-size:3px 6px;-o-background-size:3px 6px;}
	.fin_nav li,.fin_nav1 li{height:34px;line-height:34px;}
	.tab_pg,.tab_gd{margin-bottom:20px;}
	.tab_pg img{max-width:8%;}
	.tab_pg td,.tab_gd td{height:36px;}
	/*-------f_data-----------*/
	.f_data_show img{max-width:100%;}
	.f_data_show{margin-bottom:40px;}
	.total{padding-bottom:60px;}
	.dataImg {padding-bottom:20px;}

	/*---------f_holder--------*/
	.tab_gd th{height:36px;}
	.fd_group{margin:6px -2% 10px;height:39px;line-height:39px;}
	/*----------report----------*/
	.listText2 li{line-height:22px;}
	.listText2 li span.report_date{line-height:24px;}

	/*------------s_news-------------*/
	.s_nav li,.g_nav li,.g_nav1 li,.bk_nav li,.bk1_nav li{height:34px;line-height:34px;}
	.s_news_list li{line-height:24px;}
	.s_news_list li span{height:20px;line-height:20px;}

	/*---------fund_gg-------------*/
	.g_news_list li,.g_news_list1 li,.bk_news_list li,.bk1_news_list li{line-height:51px;}
	.g_news_list span.g_name,.g_news_list1 span.g_name{line-height:16px;padding-top:10px;}
	.g_news_list,.g_news_list1{margin-bottom:0px;}
	.bk_news_list span.g_name,.bk1_news_list span.g_name{line-height:15px;}
	.bk_nav li img,.bk1_nav li img{width:12px;padding-bottom:3px;}
	.bk_bt{margin-bottom:0;}
	/*----------hx_stock------------*/
	.hx_gg li{height:40px;line-height:40px;}
	.hx_ggH{padding-top:30px;}
	.num_right{padding-top:30px;}



	/*--------feedback----------*/
	.edit_txt{margin:10px 0 10px 0;}
	.edit_txt textarea{height:120px;}
	.hx_ad{line-height:18px;margin-bottom:4px;}
	.submit{margin:30px 0 40px 0;}
	.submit img{max-width:30%;}
	.submit1{width:96px;height:38px;text-align:center;margin:20px auto 80px ;display:block;font-size:14px;}
	.tel{height:30px;line-height:30px;}
	/*-------------*/
	.searchBox{height:26px;line-height:26px;background:url(../images/ico_ser.jpg) no-repeat 7px 5px #FFFFFF;background-size:17px 17px;-moz-background-size:17px 17px;-webkit-background-size:17px 17px;-o-background-size:17px 17px;border-radius:16px 16px 16px 16px;margin:6px 0 0 5px;padding:0 6px 0 26px;}
	.searchBox a{width:18px;height:18px;margin-top:4px;background-size:18px 18px;-moz-background-size:18px 18px;-webkit-background-size:18px 18px;-o-background-size:18px 18px;}
	.h_inpt{height:26px;line-height:26px;}
	.listText{margin-bottom:15px;}
	.listText ul li{line-height:30px;padding:4px 1% 3px 3%;}
	/*--.listText ul:first-child li:first-child{margin-top:43px;}*/
	.listText ul li img{max-width:23px;}

	/*.ser_more{margin-bottom:200px;}
	/*---------bond---------*/
	.hq_tit .bond_rank,.hq_tit .funds_tit{height:38px;}
	.hq_tit .bond_rank li,.hq_tit .funds_tit li{height:38px;line-height:28px;}

	/*-----------login------------*/

	.inputBtn{height:36px;margin:14px 0;border:1px solid #b5b5b5;box-shadow:0px 0px 8px #999 inset;padding:0;}
	.inputBtn label{font:bold 14px/36px "Microsoft Yahei";}
	.inputBtn input{width:65%;border:none;height:25px;line-height:25px;}

	.hide{display:none;}


	.lh30{line-height:20px;}
	.lh40{line-height:28px;}

	.pt20{padding-top:20px;}

	.ml10{margin-left:10px;}

	.errorBox{background:url(../images/error.png) no-repeat left center;padding-left:36px;margin-left:10px;}
	.radiusList{padding:0px 0px 0 46px;}
	.radiusList li{background:url(../images/radius.png) no-repeat left 12px;background-size:5px 5px;-moz-background-size:5px 5px;-webkit-background-size:5px 5px;-o-background-size:5px 5px;padding:5px 0 5px 13px;}

	/*------------tip_sq---------*/
	.tip_sq{height:100px;background:url(../images/tip_bg.png) no-repeat center center;background-size:280px 100px;-moz-background-size:280px 100px;-webkit-background-size:280px 100px;-o-background-size:280px 100px;bottom:7px;}
	.tip_sq .ft28{font-size:14px;}
	.tip_sq img{max-width:100%;}
	.sq_txt{width:262px;height:72px;padding:14px 9px;}
	.sq_intro{margin-left:7px;line-height:20px;}
	.sq_intro .ico_sq{max-width:20px;padding-bottom:4px;margin-left:3px;}
	.tip_close{width:20px;height:20px;top:14px;right:14px;}
	.sq_logo{width:59px;height:60px;}

	/*---------------hx_jyhq------------*/
	.jy_nav,.globle_nav{height:40px;line-height:40px;}
	.jy_nav ul img{max-width:13px;padding-bottom:3px;}
	.scroll_left a{width:20px;height:30px;line-height:30px;margin-top:7px;}
	.scroll_right a{width:20px;line-height:30px;margin-top:7px;}
	.scroll_left img,.scroll_right img{max-width:10px;}
	.jyhq_list,.jyhq_list1,.gbhq_list{margin:0 -2% 40px;}
	.jyhq_list ul li{line-height:40px;padding-top:8px;}

	.jyhq_list b{margin-bottom:6px;display: block;line-height:20px;}
	.jyhq_list .hg30{line-height:20px;}

	/*---------------hx_jyhq------------*/
	.jy_nav1{height:40px;line-height:40px;}
	.jy_nav1 ul img{max-width:10px;padding-bottom:3px;}
	.scroll_left img,.scroll_right img{max-width:10px;}
	.jyhq_list1 ul li{line-height:40px;padding-top:8px;}

	.jyhq_list1 b{margin-bottom:6px;display: block;line-height:20px;}
	.jyhq_list1 .hg30{line-height:20px;}

	/*-----------forex_sel------------*/
	.forex_sel{height:35px;line-height:35px;padding-left:10px;}
	.forex_sel select{width:110px;margin-left:14px;font-size:14px;}
	.onload{font-size:14px;}

	/*-------------globle-----------*/
	.gbhq_list ul li{line-height:40px;padding:10px 0 10px 2%;}
	.gbhq_list span{line-height:18px;}
	.globle_nav img{max-width:11px;padding-bottom:3px;}
	.sel_globle{margin-right:10px;padding:2px 0;width:42%;}

	/*------------relative-articles--------*/
	.news_rel_tit{height:40px;line-height:40px;border-top:1px solid #dadbdd;border-bottom:1px solid #dadbdd;}
	.news_rel_list li{padding:12px 2%;}

	/*-------------f10-more-----------*/
	.fin_nav1 .more_list{top:34px;}
	/*---------fund-trend---------------*/
	.fund_trend{height:39px;line-height:39px;}
	.fund_trend a{height:39px;}
	.fund_rate{height:49px;padding:5px 0 5px 0;background-size:3px 6px;-moz-background-size:3px 6px;-webkit-background-size:3px 6px;-o-background-size:3px 6px;}
	.fund_rate ul{padding-left:10px;}
	.fd_left{background-size:1px 39px;moz-background-size:1px 39px;-webkit-background-size:1px 39px;-o-background-size:1px 39px;}
	.fund_rate span{line-height:20px;}
	.fund_rate .wan{line-height:44px;}
	.fund_rate b{font-size:12px;}
	.fd_rig img{max-width:28px;}
	.fd_tab_show ul,.hx_fd_tit{height:25px;line-height:25px;}
	.hx_fd{margin-top:12px;}
	.style_four li.Nobg,.fd_tab_show li.Nobg,.hx_fd_tit li.Nobg{background:none;}

	/*-------pinglun-----------*/
	.pl_num{top:6px;height:25px;line-height:25px;padding:0 8px;
		-webkit-border-radius:3px;
		-moz-border-radius:3px;
		-ms-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;
	}
	.pl_num img{margin-right:5px;max-width:16px;}
	.pl_user_name{margin-top:10px;margin-bottom:-4px;}
	.pl_area textarea{font-size:16px;padding-top:10px;}
	
	.pl_user_views{height:40px;line-height:40px;border-bottom:2px solid #cccaca;}
	.pl_user_list{margin-top:0;}
	.pl_user_list dl{padding:16px 2%;}
	.pl_user_list dt{width:62px;height:62px;margin-right:6px;}
	.pl_user_list dt img{max-width:100%;}
	.pl_user_list dd{padding-left:68px;}
	.pl_user{height:16px;line-height:16px;margin-bottom:8px;}
	/*-----share-------*/
	.share{height:30px;padding:10px 2% 15px;}
	.share_tit{width:60px;height:30px;line-height:30px;margin-right:10px;}
	.share_tit span{width:47px;height:30px;
		-webkit-border-radius:2px;
		-moz-border-radius:2px;
		-ms-border-radius:2px;
		-o-border-radius:2px;
		border-radius:2px;
	}
	.share_tit img{margin-left:-1px;max-width:11px;}
	.share a{margin-right:16px;}
	.share a img{max-width:30px;}

	.wb_return{width:30px;height:20px;background:url(../images/btns_s.png) no-repeat;background-size:60px 54px;left:12px;top:12px;}
	.wb_share{width:52px;height:30px;background:url(../images/btns_s.png) no-repeat;background-position:0 -20px;background-size:51px 49px;right:12px;top:7px;}
	.wb_edit{width:24px;height:27px;background:url(../images/btns_s.png) no-repeat;background-position:-39px 0;background-size:64px 68px ;right:12px;top:7px;}
	.wb_area .edit_txt{border:2px solid #d9d9d9;
		-webkit-border-radius:3px;
		-moz-border-radius:3px;
		-ms-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;}
	.wb_area .edit_txt textarea{font-size:16px;padding-top:10px;}
	.wb_att{width:140px;height:20px;line-height:20px;}
	.wb_att span{width:18px;height:18px;margin-right:6px;
		-webkit-border-radius:3px;
		-moz-border-radius:3px;
		-ms-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;
	}
	.wb_att img{margin:4px 3px;max-width:12px;}
	.wb_word{width:120px;height:20px;line-height:20px;}
	/*-----------news_search----------*/
	.selectBox{height:30px;line-height:30px;margin:6px 6px 0 8px;padding-left:8px;
		-webkit-border-radius:3px;
		-moz-border-radius:3px;
		-ms-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;
	}
	.selectBox b{width:28px;height:30px;
		-webkit-border-radius:0 3px 3px 0;
		-moz-border-radius:0 3px 3px 0;
		-ms-border-radius:0 3px 3px 0;
		-o-border-radius:0 3px 3px 0;
		border-radius:0 3px 3px 0;
	}
	.selectBox b img{max-width:16px;}
	#ul1{top:28px;}
	#ul1 li{height:30px;line-height:30px;}
	.searchBox1{height:30px;line-height:30px;margin-top:6px;padding-left:8px;
		-webkit-border-radius:3px;
		-moz-border-radius:3px;
		-ms-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;
	}
	.searchBox1 a{width:18px;height:18px;background-size:18px 18px;margin:6px 5px 0 0;}
	.searchBox1 input{height:30px;line-height:30px;font-size:16px;}
	.Mar_tp{margin-top:26px;}
}