body,div,p,h1,h2,h3,h4,em,span,a,td,form,select,textarea{margin:0;padding:0;font-size:12px; font-family:"宋体";font-style:normal;}
h2,h3,h4,em,strong{font-weight:700;}
a img{border:none;}
body{color:#000;background:#fff;}
a{color:#0066ff;text-decoration:none;}
hr{ height:1px; color:#c0c0c0; font-size:0px; line-height:0px; overflow:hidden;}
.rl{ line-height:19px; background:#ffdede;}
.fr, .fr a{ color:#cc0000;}
.lrp5{ padding:0;}
.mtb8{ margin:8px 5px 5px 5px;line-height:18px;}
.mtPage{ margin:3px 0 0 7px;line-height:18px;color:#0066ff;}
.mtPage span{color:#000;}
.mt3{ margin:3px 0 0 2px;line-height:18px;}
.mt3 span { font-family:Arial; font-size:12px;}
.nav{ clear:both;line-height:19px; height:39px; background:#cf010b; color:#fff !important; overflow:hidden;}
.nav a{color:#FFF; padding:0 2px;}
.mtb12{ margin:8px 5px 12px 5px;line-height:18px; font-size:14px;}
.nb{ line-height:16px;}
.nb a{ color:#002990; }
/*图表*/
.mt3L0{ clear:both; margin:1px 0 0 0px;}
.tabTit{ margin:3px 0 3px 3px; line-height:16px;text-align:center;}
.tabTb{ border:2px solid #000; border-collapse:collapse; }
.tabTb td{ width:18px; height:18px; text-align:center; border:1px solid #999; border-collapse:collapse;}
.tabTb th{ height:18px; font-weight:normal; border:1px solid #000; border-collapse:collapse;}
.tabTb .W01{ width:27px; }
.tabTb .W02{ width:27px; }
.tabTb .ptb01{ padding:5px 0}
.tabTb .Tbg01{ background:#f4f4f4 }
.tabTb .Tbg02{ background:#ffd7d7 }
.tabTb .Tbg03{ background:#fff9df }
.tabTb .Tbg04{ background:#b7fd77 }