@-webkit-keyframes opGradient {
  0% {
    -webkit-transform: translateY(-10px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@keyframes opGradient {
  0% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes nonesearching {
  0% {
    left: 20%;
    -webkit-transform: scale3d(1, 1, 1);
    opacity: 1;
  }

  100% {
    left: 34%;
    -webkit-transform: scale3d(0, 0, 0);
    opacity: 0;
  }
}

@keyframes nonesearching {
  0% {
    left: 20%;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }

  100% {
    left: 34%;
    -webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
    opacity: 0;
  }
}

body {
  font-family: Microsoft YaHei, Arial, Helvetica, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Microsoft YaHei, Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
}

b,
strong {
  font-family: Microsoft YaHei, Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
}

.image-text-carousel .card span,
a.read-more,
span.read-more,
.category-name,
.multi-action-callout .card.left span,
.screen .title a,
.screen .filter-wrap ul li > label:hover,
.results-tab ul li a,
.indeustry-contact .contact h2,
.show-more a,
.quotes p,
#fancybox-title-over b,
header #hw1_global_nav nav .nav-contact > ul a.navbar-toggle,
#footer .footer-nav ul li a,
.contact-infor ul li em.hwic_icon_user + span,
.agenda .agenda-tab ul li a,
.agenda .agenda-list .row .col-sm-3 span {
  font-family: Microsoft YaHei, Arial, Helvetica, sans-serif !important;
}

b,
strong {
  font-family: Microsoft YaHei, Arial, Helvetica, sans-serif !important;
  font-weight: bold;
}

#footer .footer-nav .social li a {
  font-family: 'corpfont' !important;
}

.intro-contact h1 {
  line-height: 1.7;
}

header #hw1_global_nav nav .nav-contact > ul > li .primary-nav-enterprise-open .for-tab-one ul li a,
#footer .footer-nav ul li,
header #hw1_global_nav nav .nav-contact > ul > li .primary-nav-insights-open ul a,
header #hw1_global_nav nav .nav-contact > ul > li .about-huawei-open ul a,
header #hw1_global_nav nav .nav-contact > ul > li .primary-nav-consumer-open .list-icon span a,
header #hw1_global_nav nav .nav-contact > ul > li .primary-nav-enterprise-open .for-tab-one > .container > .row > [class*="col-"] span a,
header #hw1_global_nav nav .nav-contact > ul > li .primary-nav-consumer-open .list-icon span,
header #hw1_global_nav nav .nav-contact > ul > li .primary-nav-consumer-open .card-cl2 span,
header #hw1_global_nav nav .nav-contact > ul > li .primary-nav-consumer-open .card-cl2 span a {
  font-size: 16px;
}

header #hw1_global_nav nav .nav-contact > ul > li span,
header #hw1_global_nav nav .nav-contact > ul > li a,
header #hw1_global_nav nav .nav-contact > ul > li em {
  vertical-align: top;
}

header #hw1_global_nav nav .nav-contact > ul > li .primary-nav-enterprise-open .for-tab-one span span {
  font-size: 16px;
}

.nav-gblnav .corporate .worldwide-dropdown .worldwide-contact > ul > li {
  float: left;
}

header #hw1_global_nav nav .nav-contact > ul > li em {
  vertical-align: -1px;
}

.secondary-navigation {
  width: 100%;
  overflow: hidden;
}

.indeustry-contact .contact h2 {
  font-size: 22px;
}

.rich-text p {
  text-indent: 2em;
}

.intro-contact p {
  text-indent: 2em;
}

.search-results .screen-reset .results-list .row .content > div h3 {
  line-height: 30px;
}

.indeustry-contact .contact h2 {
  font-size: 22px;
  line-height: 30px;
}

.vertical-card .height-fixed {
  max-height: 135px;
}

@media (max-width: 767px) {
  .search-results .screen-reset .results-list .row .content {
    padding: 10px 15px;
  }

  .vertical-card .height-fixed {
    height: 91px;
  }

  .card-content h3 {
    line-height: 30px !important;
    max-height: none !important;
  }

  #banner .banner-text h2 {
    line-height: 60px;
  }
}

.article-page .title p {
  text-indent: 0;
}

.expand-moreb span {
  font-family: Microsoft YaHei, Arial, Helvetica, sans-serif !important;
}

.vertical-card .card.no-hover .height-fixed {
  max-height: 135px;
}

#footer .footer-nav ul li {
  padding-bottom: 10px;
}

.detial-banner .banner-text p {
  line-height: 30px;
}