.alt1, .alt2, .alt3 {}

#RR_Ratings_Widget * {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background:transparent;
    text-decoration: none;
    line-height: 21px;
}
#RR_Ratings_Widget {
    border:1px solid #999;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    height:104px;
    width:130px;
    box-shadow:0 1px 4px #ddd;
    background:#e5e5e5;
}

.alt1 #RR_Ratings_Widget {
    background: #fff;
    border: 1px solid #c2c2c2;
}
.alt2 #RR_Ratings_Widget {
    background: #545454;
    box-shadow: none;
    border: none;
}
.alt3 #RR_Ratings_Widget {
    background: #fff;
    border: 1px solid #e7e7e7;
    box-shadow: none;
}
#RR_Ratings_Widget .rr_clear_both {
    clear:both;
}
#RR_Ratings_Widget #RR_Ratings_Widget_frame {
    padding:5px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow:inset 0 0 24px #fff;
    height:80px;
}
.alt1 #RR_Ratings_Widget #RR_Ratings_Widget_frame {
    height: 90px;
}
.alt2 #RR_Ratings_Widget #RR_Ratings_Widget_frame {
    box-shadow: none;
    height: 95px;
}

.alt3 #RR_Ratings_Widget #RR_Ratings_Widget_frame {
    height: 90px;
}
#RR_Ratings_Widget #RR_Ratings_Widget_frame #RR_Ratings_Widget_head .rr_rate_company_name {
    font:bold 10px/20px Helvetica,Arial,sans-serif;
    color:#010101;
    text-align:center;
    overflow:hidden;
    word-wrap:nowrap;
}
.alt1 #RR_Ratings_Widget #RR_Ratings_Widget_frame #RR_Ratings_Widget_head .rr_rate_company_name {
    text-indent: -9999px;
    height: 21px;
    border-bottom: none;
    line-height:105%;
}
.alt1 #RR_Ratings_Widget #RR_Ratings_Widget_frame #RR_Ratings_Widget_head .rr_rate_company_name.text {
    text-indent: 0;
}
.alt2 #RR_Ratings_Widget #RR_Ratings_Widget_frame #RR_Ratings_Widget_head .rr_rate_company_name {
    text-indent: -9999px;
    background-position: 3px 3px;
    color:#fff;
    height: 21px;
    border-bottom: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    line-height:105%;
}
.alt2 #RR_Ratings_Widget #RR_Ratings_Widget_frame #RR_Ratings_Widget_head .rr_rate_company_name.text {
    text-indent:0;
}

.alt3 #RR_Ratings_Widget #RR_Ratings_Widget_frame #RR_Ratings_Widget_head .rr_rate_company_name {
    text-indent: -9999px;
    width: 104px;
    height: 21px;
    border-bottom: none;
    line-height:105%;
}
.alt3 #RR_Ratings_Widget #RR_Ratings_Widget_frame #RR_Ratings_Widget_head .rr_rate_company_name.text {
    text-indent: 0;
}

#RR_Ratings_Widget #RR_Ratings_Widget_frame #RR_Ratings_Widget_content .rr_rate_rating_wrapper {
    border-top:1px solid #ebebeb;
    text-align:left;
    font:bold 18px Arial,Helvetica,sans-serif;
    color:#727272;
    position:relative;
}
.alt1 #RR_Ratings_Widget #RR_Ratings_Widget_frame #RR_Ratings_Widget_content .rr_rate_rating_wrapper, .alt2 #RR_Ratings_Widget #RR_Ratings_Widget_frame #RR_Ratings_Widget_content .rr_rate_rating_wrapper,  .alt3 #RR_Ratings_Widget #RR_Ratings_Widget_frame #RR_Ratings_Widget_content .rr_rate_rating_wrapper {
    position: relative;
    top: 5px;
}

.alt3 #RR_Ratings_Widget #RR_Ratings_Widget_frame #RR_Ratings_Widget_content .rr_rate_rating_wrapper {
    top:0px;
}

#RR_Ratings_Widget #RR_Ratings_Widget_frame #RR_Ratings_Widget_content .rr_rate_rating_wrapper .rr_rate_star_wrapper {
    position: absolute;
    width: 66px !important;
    right: 0;
    top: 5px;
}
.alt3 #RR_Ratings_Widget #RR_Ratings_Widget_frame #RR_Ratings_Widget_content .rr_rate_rating_wrapper .rr_rate_star_wrapper {
top: 0;
}
#RR_Ratings_Widget #RR_Ratings_Widget_frame #RR_Ratings_Widget_content .rr_rate_rating_wrapper .rr_rate_rating_score {
    color:#2c5581;
}
#RR_Ratings_Widget #RR_Ratings_Widget_frame #RR_Ratings_Widget_content .rr_rate_star_text {
    font-size: 11px;
    font-weight: normal;
    position: relative;
}

.alt2 #RR_Ratings_Widget #RR_Ratings_Widget_frame #RR_Ratings_Widget_content .rr_rate_star_text {
    color: #fff;
}

.alt3 #RR_Ratings_Widget #RR_Ratings_Widget_frame #RR_Ratings_Widget_content .rr_rate_star_text {
    top:0px;
}

#RR_Ratings_Widget #RR_Ratings_Widget_frame #RR_Ratings_Widget_content .rr_rate_star_rating_empty {
    background: url(/images/widget/stars.png) left top repeat-x;
    height: 13px;
    width: 66px !important;
    position: absolute;
    left: 0;
    top: 0;
}
#RR_Ratings_Widget #RR_Ratings_Widget_frame #RR_Ratings_Widget_content .rr_rate_star_rating_full {
    background: url(/images/widget/stars.png) left bottom repeat-x;
    height: 13px;
    position: absolute;
    left: 0;
    top: 0;
}
#RR_Ratings_Widget #RR_Ratings_Widget_frame #RR_Ratings_Widget_content .rr_review_count {
    font:normal 9px/14px Arial,Helvetica,sans-serif;
    text-align:center;
    letter-spacing:0px;
    width:65px;
    overflow-x:visible;
    white-space:nowrap;
    margin-top:5px;
}
.alt1 #RR_Ratings_Widget #RR_Ratings_Widget_frame #RR_Ratings_Widget_content .rr_review_count {
    font-size: 11px;
    border-bottom: 0px solid #cecece;
    padding-bottom: 5px;
    margin-left:25px;
}
.alt2 #RR_Ratings_Widget #RR_Ratings_Widget_frame #RR_Ratings_Widget_content .rr_review_count {
    color: #fff;
    text-transform: capitalize;
    font-size: 11px;
    padding-left:25px;
}

}
.alt3 #RR_Ratings_Widget #RR_Ratings_Widget_frame #RR_Ratings_Widget_content .rr_review_count {
    text-transform: capitalize;
    font-size: 11px;
    border-bottom: 1px solid #cecece;
    padding-bottom: 5px;
}

#RR_Ratings_Widget #RR_Ratings_Widget_frame #RR_Ratings_Widget_footer a.rr_href {
    background:transparent url(/images/widget/rr-logo.png) no-repeat;
    width:78px;
    height:22px;
    text-indent: -999em;
    display:block;
    margin:0 auto;
    text-decoration: none;
    border:none;
}
.alt1 #RR_Ratings_Widget #RR_Ratings_Widget_frame #RR_Ratings_Widget_footer {
    padding-top: 4px;
}
.alt2 #RR_Ratings_Widget #RR_Ratings_Widget_frame #RR_Ratings_Widget_footer {
    padding-top: 3px;
}

.alt3 #RR_Ratings_Widget #RR_Ratings_Widget_frame #RR_Ratings_Widget_footer {
    padding-top: 0px;
}
.alt1 #RR_Ratings_Widget #RR_Ratings_Widget_frame #RR_Ratings_Widget_footer a.rr_href {
    background:transparent url(/images/widget/rr_logo_purple_107x19.png) no-repeat;
    width: 107px;
    height: 21px;
}
.alt2 #RR_Ratings_Widget #RR_Ratings_Widget_frame #RR_Ratings_Widget_footer a.rr_href {
    background:  url(/images/widget/rr_logo_white_107x17.png) 2px 2px no-repeat;
    width: 107px;
    height: 21px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    padding: 5px;
}

.alt3 #RR_Ratings_Widget #RR_Ratings_Widget_frame #RR_Ratings_Widget_footer a.rr_href {
    background:transparent url(/images/widget/rr_logo_purple_107x19.png) no-repeat;
    width: 107px;
    height: 21px;
}

#RR_Ratings_Widget #RR_Ratings_Widget_frame .rr_review_stamp_wrapper {
    float: right;
    margin: 0;
    line-height: 12px;
}
#RR_Ratings_Widget #RR_Ratings_Widget_frame .rr_review_stamp_wrapper * {
    line-height: 12px;
}

.alt3 #RR_Ratings_Widget #RR_Ratings_Widget_frame .rr_review_stamp_wrapper  {
    margin: 0px 0 0;
    text-align:center;
}



#RR_Ratings_Widget #RR_Ratings_Widget_frame .rr_review_stamp_date {
    font: 8px/11px Arial, sans-serif;
    color: #848484;
    padding-top:10px
}
#RR_Ratings_Widget #RR_Ratings_Widget_frame .rr_review_stamp_date .rr_review_stamp_answers {
    display: inline-block;
    text-indent: -9999px;
    width: 41px;
    height: 9px;
    background: url(/images/widget/answers.png) no-repeat;
}
